<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="user-info-tabs">
          <div class="step-tab-inner">
            <div class="heading text-center">
              <h4 class="text-custom-black fw-600">Enter Loan Information</h4>
              <p class="text-custom-black">Check your business's eligibility without impacting
                your credit.<sup>*</sup></p>
            </div>
           

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
