<app-header xmlns:filter="http://www.w3.org/1999/xhtml"></app-header>
<app-breadcrumb></app-breadcrumb>



<section class="section-padding bg-gray">
  <div class="container">
    <div class="row doctors-team-style-2">
      <button class="btn btn-lg btn-outline-primary"   >PDF</button>
      <br>
      <br>
      <button class="btn btn-lg btn-outline-primary"> Scrap Product</button>
      <div class="container mt-5">

        <button class="btn btn-lg btn-outline-primary"   >Add Product</button>
        <ng-template #content3 let-modal>
          <div class="modal-header">
            </div>
          <div class="modal-body">
             </div>
         
        </ng-template>
      
      
       
       

      
       







        








      </div>




















    </div>
  </div>
</section>


<app-footer></app-footer>
