<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<!-- Start Blog -->
<section class="section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <div class="blog-detail padding-20" >
                    <!-- article -->
                    <article class="post">
                        <div class="post-wrapper">
                            <div class="blog-img animate-img mb-xl-20">
                            
                            </div>
                           
                                </div>
                                </article>
                 
           </div> 
           </div>       
        </div>
    </div>
</section>
<!-- End Blog -->

<app-footer></app-footer>