<!-- Start Blog -->
<section class="section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-detail padding-20" >
                    <!-- article -->
                    <article class="post">
                       
                    </article>
                    <!-- article -->
                    <hr>
                    <!-- tags & social -->
                    <div class="post-details-tags-social">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="tags-box mb-xl-20"> <span class="fs-18 text-dark-white"><i
                                            class="fas fa-tags"></i></span>
                                    <div class="tags">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="social-media-box mb-xl-20">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tags & social -->
                    <hr class="mt-0">
                    <!-- post pagination -->
                    <div class="pagination-btn">
                        <nav>
                            <ul class="pagination">
                             
                            </ul>
                        </nav>
                    </div>
                   
                    <!-- comments -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->