<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600">Agent</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>Agents</a>
                    </li>
  
                  </ul>
                </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </breadcrumb>
  <div class="section-padding lw-tab-section p-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
           
          </div>
        </div>
        <app-classification></app-classification>
            <app-ajout-agent></app-ajout-agent>
      </div>
    </div>
  </div>
 
         



<app-footer></app-footer>
