<app-header xmlns:filter="http://www.w3.org/1999/xhtml"></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="section-padding bg-gray">
  <div class="container">

    <div class="row doctors-team-style-2">
      <h1 class="header-style">Simulator </h1>
      <div class="container main-content" id="content">
        <app-s-home #homeSection> </app-s-home>
        <statement-section #statementSection></statement-section>
        <grid-section #gridSection></grid-section>
        <chart-section #chartSection></chart-section>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>

