<!-- Start Contact -->
<section class="section-padding bg-gray contact-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4 mb-md-80">
                <div class="contact-form full-height align-self-center bx-wrapper bg-custom-white">
                    <h4 class="text-custom-black fw-600"> Add a Complaint</h4>
                    <p class="text-light-white no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt.</p>
                         
                    
                </div>
            </div>
            <div class="col-xl-7 col-lg-8">
                <iframe title="map" class="full-width full-height"
                    src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->
<!-- Start Contact Bottom -->

<!-- End Contact Bottom -->