
<div style="margin-left: 90% ;">
<ng-template #content let-modal >

   
    <div class="modal-body">
        

<div class="row">
    
    
    <div >
        <div class="panel panel-default">

            <div class="box box-success direct-chat direct-chat-success">
                <!-- <div class="box-header with-border"> -->
                <div class="box-header">
                    <h3 class="box-title"> </h3>

                </div>

                <div class="box-body">
                    <!-- Conversations are loaded here -->
                  
                    <!--/.direct-chat-messages-->

                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                  
                </div>
                <!-- /.box-footer-->
            </div>

        </div>
    </div>
    
</div>





      
    </div>
    
  </ng-template>
</div>

    
    <button class="btn-first btn-submit-fill"  >Chat With Us</button>


    
  
  