<app-header></app-header>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600"> Liste of complaints</h1>
                  
                </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </breadcrumb>
  <div class="section-padding lw-tab-section p-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
            <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
              <li [ngbNavItem]="1">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                  />
                </div>
                <div class="table-responsive">
                  
                  <div class="d-flex justify-content-center">
                    
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
             <app-footer></app-footer>