

<div class="container" >
    <div class="row doctors-team-style-2" >
      <div class="container mt-5">
        <h4 class="text-custom-black fw-600">List Agents</h4>
        <div class="search p-relative">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="filterTerm"
          />
          </div>
        </div>
        <div class="table-responsive">


 <div class="table-responsive">
    <table class="lw-tab-table" >

        <tr class="lw-table-row-1">
           
          </tr>
        

    </table>
    </div>


    <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
        >
        </pagination-controls>
      </div>
      </div>
      <hr>
      </div>
      </div>
      </div>
