<app-header xmlns:filter="http://www.w3.org/1999/xhtml"></app-header>
<app-breadcrumb></app-breadcrumb>



<section class="section-padding bg-gray">
  <div class="container">
    <div class="row doctors-team-style-2">

      <div class="container mt-5">
            <button class="btn btn-lg btn-outline-primary"  >Add Partner</button>
            <ng-template #content3 let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Partner</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn-close" aria-label="Close"  ></button>
              </div>
              <div class="modal-body">
             
            </div>
            <div class="modal-footer">
              
            </div>
          </ng-template>
          <br>
          <br>
          <br>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
          
          />
        </div>
       







        <hr>








      </div>




















    </div>
  </div>
</section>


<app-footer></app-footer>
