<app-header></app-header>
<app-breadcrumb></app-breadcrumb>



<section class="section-padding bg-gray">
  <div class="container"  class="padding-top : 1px" >
    <div class="row doctors-team-style-2" class="section-padding-top : 5px">
      <div class="container mt-5">

        <div class="search p-relative">
          
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
          />
          </div>
        </div>

        <hr>
      </div>
    </div>
  </div>
</section>

  <app-footer></app-footer>
