<app-header></app-header>
<div class="overlapsec"></div>



<breadcrumb #parent>
  <div class="sub-header p-relative">
    <div class="overlay overlay-bg-black"></div>
    <div class="pattern"></div>
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">

              <div class="sub-header-content p-relative">
                <h1 class="text-custom-white lh-default fw-400">Reclamation</h1>
                
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</breadcrumb>
<!-- Start User Details -->
<div>
  <app-chatbot></app-chatbot>
</div>
<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="user-info-tabs">
          <div class="step-tab-inner">
          
          
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</section>
<app-footer></app-footer>

