<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600">Client</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>Client</a>
                    </li>
  
                  </ul>
                </div>
  </div></div></div></div></div></breadcrumb>
  <body>
    <div class="section-padding lw-tab-section p-relative">
      <div class="container">
       
  
      <div class="right-side full-height bg-border">
          <div class="section-heading">
      <div style="text-align:center">
    <h1>
      track your Agent
    </h1>
  </div>
   
   <button type="submit" class="btn-first btn-submit full-width" >take agent position</button>
  <!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->
  <div id="frugalmap">
   
 
  </div></div></div></div></div>
</body>

  <app-footer></app-footer>